<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws
       http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- 使用服务   -->


    <!--  注册CXF客户端代理对象，通过Spring框架代理这个对象，使用代理对象进行远程调用   -->
    <jaxws:client id="myClient"
                  address="http://192.168.3.8:8888/cxf/service/sample"
                  serviceClass="com.cxf.service.SampleService"/>

    <!--
        address：服务地址
        serviceClass：接口完整类名
    -->

</beans>
