<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <!--    1.1、ActiveMQ 连接工厂   -->
    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
        <property name="useAsyncSend" value="true"/>
    </bean>
    <!--  1.2、Spring真正管理的ConnectionFactory  -->
    <bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">
    <!--<bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">-->
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
        <!--<property name="sessionCacheSize" value="100"/>-->
    </bean>


    <!--    2.1、点对点队列    -->
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="spring-queue"/>
    </bean>
    <!--    2.2、发布-订阅队列   -->
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="spring-topic"/>
    </bean>


    <!--     3、Spring提供的JMS模板，用于发送消息，接受消息     -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <!--<property name="pubSubDomain" value="true"/>   默认false：P2P模式，改为true：发布-订阅模式    -->
    </bean>


    <!--    4、监听器，可以有多个  -->
    <bean id="myMessageListener" class="com.activemq.demo.MyMessageListener"/>
    <!-- 消息监听容器，可以有多个   -->
    <bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="queueDestination"/>
        <property name="messageListener" ref="myMessageListener"/>
    </bean>

</beans>