<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- shiro Session管理   -->

    <bean id="defaultSessionManager" class="org.apache.shiro.session.mgt.DefaultSessionManager">
   <!--  <bean id="mySessionManager" class="com.shiro.sample.shiro.session.MySessionManager"> -->
        <property name="sessionDAO" ref="redisSessionDao"/>
    </bean>

    <bean id="redisSessionDao" class="com.shiro.sample.shiro.session.RedisSessionDao"/>


</beans>